<div class="content-page tabcontent" id="tabInstallation" style="display: block;">
	<div class="content-code"></div>
	<div class="content">
		<div class="overflow-hidden content-section">
			<h1>Get started</h1>
			<pre>API Domain
<script>document.write(path)</script></pre>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		<div class="overflow-hidden content-section">
			<h1>Project Publishing Instructions</h1>
			<p>The project can be published in two different ways.</p>
			<p>&emsp;1- Docker<br>&emsp;2- NPM</p>
			<h2>Installation with Docker</h2>
			<pre><code>#deploy project with docker
$ docker-compose up
        
#install docker database backup
$ cat &#60;sql_filename&#62; | docker exec -i &#60;container_name&#62; mysql -u root --password=root &#60;database_name&#62;</code></pre>
			<p>To publish the project on Docker, go to the project directory and write the following codes;<br></p>
			<br>
			<h2>Installation with NPM</h2>
			<pre><code>#package install
$ npm install

#project start
$ npm start</code></pre>
			<p>To publish the project in NPM, go to the project directory and write the following codes;</p>
		</div>
		<div class="overflow-hidden content-section">
			<h1>Running the project as a developer</h1>
			<pre><code>#package install
$ npm install

#project start
$ npm run start:dev</code></pre>
<p>As a developer, to start the project and do the test operations, first go to the project directory and install the packages, then give the necessary command to start the mode.</p>
		</div>
	</div>
	<div class="content-code"></div>
</div>
