{% import "../partials/_helper.twig" as helper %}

<div class="left-menu" id="mySidebar">
	<div class="content-logo">
		{% include "./logo.twig" %}
	</div>
	<div class="content-menu">
		<ul class="tab">
			{{ helper.menuLink("Installation", "tabInstallation", true) }}
			{{ helper.menuLink("Test Transactions", "testTab") }}
		</ul>
	</div>
</div>