<div class="content-logo" id="header-response">
	<div class="slidbar-button">
		<a id="openNav" onclick="slideBar_open()">
			<i class="fas fa-bars"></i>
		</a>
	</div>
	<div class="header-logo">
		{% include "./logo.twig" %}
	</div>
</div>
